@media (max-width: 567px) {
    .container{
        width: 	385px;
        margin: auto;
    }
    .swiper .swiper-slide .first-side .swipe-text{
        order: -1;
    }
    .swiper .swiper-slide .side-two .swipe-text{
        order: -1;
    }
    .swiper .swiper-slide .side-three .swipe-text{
        order: -1;
    }
    .swiper .swiper-slide .image img{
        border-radius: 20px;
        max-width: 350px;
        position: relative;
        bottom: -55px;
        margin-inline: auto;
    }
   
    .swiper .swiper-slide .first-side {
        padding: 139px 0 100px;
    }
    .swiper .swiper-slide .side-two
    {
       padding: 45px 0 0;
   }
    .swiper .swiper-slide .side-two 
    .flatpickr-calendar{
        margin-inline: auto;
    }
    .pricing .pric-box{
        margin-bottom: 20px;
    }
    .fixed-top-nav {
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
/*----------768-----------*/
@media (max-width: 768px) {
    .fixed-top-nav {
        position: fixed;
        top: 53px;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    #nav .nav-item a:hover {
        background-color: #018763;
    }
    #nav .nav-item a {
        text-transform: uppercase;
        color: #fff !important;
        font-family:
        "HelveticaNeueBlackItalic 900";
        display: block;
        padding: 5px 0;
        font-size: 20px;
    }
    .navbar-toggler {
        padding: 5px 15px 10px 15px !important;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
        margin-bottom: -45px;
        margin-right: 35px;
    }
    .nav-bullets {
        position: fixed;
        right: -8px;
        top: 19%;
        transform: translateY(-50%);
        width: 60px;
        z-index: 1000;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 10000;
    }
    .market .mark{
        display: none;
    }
    .swiper .image-order{
        order: -1;
        position: relative;
        bottom: -55px;
    }
    .swiper .swiper-slide .first-side .swipe-text{
        text-align: center;
        margin-bottom: 20px;
    }
    .swiper .swiper-slide .first-side .swipe-text p{
        display: none;
    }
    .swiper .swiper-slide .side-two .swipe-text h2{
        margin-top: 125px;
        font-size: 19px;
    width: 250px;
    margin-inline: auto;
    }
    .swiper .swiper-slide .side-two .swipe-text h2 br{
        display: none;
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 39%);
        width: calc(var(--swiper-navigation-size) / 44* 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    .courses .card .overlay{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .courses .card .overlay h2{
        font-size: 15px;
        margin-bottom: 15px;

    }
    .courses .card .overlay p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .courses .card .overlay button {
        padding: 10px 9px;
        border: none;
        border-radius: 10px;
        margin: 0 20px 0 0;
        color: #e05100;
        font-size: 16px;
        box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
    .courses .col-lg-4 .card{
    height: 300px !important;
    margin-inline: auto;
    }
    .courses .card .card-body {
        position: absolute;
        bottom: 33%;
        background-color: #1EAACE;
        width: 100%;
        height: 33%;
    }
    .navbar-brand img{
        margin-top: 30px;
        width: 230px;
    }
    .training .our-video{
        text-align: center;
        margin-bottom: 30px;
    }
    .training .image img{
        width: 300px;
    }
    .pricing .pric-box{
        margin-bottom: 20px;
    }
    .navbar::after{
        display: none;
    }
}
   
   /* =============================
              media
   ============================= */